html,body{height:100%;width:100%}
body{margin:0;padding:0;background-color:#3179ad;color:#fff;display:flex;height:100%;align-items:center}

a{color:#fff;text-decoration:none}
a:hover{text-decoration:underline}

#h{flex:1;text-align:center;font-size:4vw}
.gotham{font-family:'Gotham A','Gotham B'}
.tungsten{font-family:'Tungsten Rounded A','Tungsten Rounded B'}
